LOCAL_DB_URI=mongodb://localhost:27017/movie_db
DATABASE_URI=mongodb+srv://username:password@cluster.mongodb.net/movie_db
OMDB_API_KEY=your_key_here
JWT_SECRET_KEY=your_secret_key_here
TOKEN_HEADER_KEY=authorization

# These variables need to be stored in GitHub Secrets, and added into the testing pipeline (do that later)
# Should work if I follow the below:


# Add Secrets to GitHub:

#     Navigate to your repository on GitHub.
#     Click the Settings tab.
#     In the left sidebar, click Secrets and variables, then select Actions.
#     Click New repository secret and add your variables (e.g., DB_HOST, API_SECRET_KEY) with their respective values.

#     # Inject secrets as environment variables for the test step
#     - name: Run tests with environment variables
#       run: npm test
#       env:
#         DB_HOST: ${{ secrets.DB_HOST }}
#         API_SECRET_KEY: ${{ secrets.API_SECRET_KEY }}
#         # Any other environment variables your tests need